/.idea/.gitignore
/.idea/coordinator.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/intermediate/*
*.log
/.idea/pyLspTools.xml
/.idea/pyTypeEngine.xml
key.txt